.profil-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profil-image-container {
    width: 900px;
    height: 550px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(192, 192, 192);
}

.profil-image {
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.profil-image:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.profil-info-container {
    padding-top: 20px;
    width: 900px;
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
    word-break: break-all;
}

.profil-info-container .title {
    display: inline;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 45px;
    width: 0;
    min-width: 100%;
    line-height: 50px;
    margin-bottom: 30px;
}

.profil-info-container .address {
    color: rgb(96, 96, 96);
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 17px;
    width: 0;
    min-width: 100%;
    background-color: rgb(243, 242, 242);
    padding: 7px;
    border-radius: 10px;
    transition: 0.3s;

}

.address:hover {
    background-color: rgb(213, 213, 213);
    transition: 0.5s;
}

.profil-info-container .description {
    color: rgb(96, 96, 96);
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 17px;
    background-color: rgb(243, 242, 242);
    padding: 7px;
    border-radius: 10px;
    transition: 0.3s;
    
}

.description:hover {
    background-color: rgb(213, 213, 213);
    transition: 0.5s;
}

.footer {
    height: 30px;
    background-color: rgba(241, 241, 241, 0.879);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 21px;
}

.comment-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(167, 167, 167);
    padding-top: 25px;
    align-items: flex-start;
}

.comment-profile {
    margin-right: 15px;
}

.comment-profile img {
    border-radius: 50%;
    min-width:60px; 
    height:60px; 
    object-fit: cover;
}

.comment-content p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgb(70, 70, 70);
    margin-top: -5px;
    text-align: justify;
}

.comment-content p:nth-child(1) {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.comment-content p:nth-child(3) {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: rgb(117, 117, 117);;
}

.form-comment {
    width: 900px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid black;
}

.komentar-title {
    width: 900px;
}

.comment-input-container {
    padding-top: 20px;
    width: 900px;
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
    word-break: break-all;
    margin-top: 50px;
    margin-bottom: 20px;
}

.comment-input-container h5 {
    margin-bottom: 17px;
}

.btn {
    margin-left: 830px;
    background-color: rgb(0, 0, 118);
    border: none;
}