.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 900px;
    margin-bottom: 40px;
}

.card img {
    height: 400px;
}

h1 {
    width: 900px;
    margin-bottom: 20px;
}


.footer {
    height: 30px;
    background-color: rgba(241, 241, 241, 0.879);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}